.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.16666em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.stl_ie .stl_06 {
	height: 70.16666em;
}
.stl_07 {
	-o-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"GEUAFN+Horizon-Bold";
	src:url("../fonts/b5b6f121-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 1.582745em;
	font-family: "GEUAFN+Horizon-Bold", "Times New Roman";
	color: #321019;
}
.stl_09 {
	line-height: 1.298828em;
}
.stl_10 {
	letter-spacing: 0em;
}

.stl_ie .stl_10 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NBFDRB+Montserrat-Regular";
	src:url("../fonts/7d3cd188-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 1.375181em;
	font-family: "NBFDRB+Montserrat-Regular";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.2em;
}
@font-face {
	font-family:"MKJUJM+Montserrat-Bold";
	src:url("../fonts/115def72-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1.590625em;
	font-family: "MKJUJM+Montserrat-Bold";
	color: #000000;
}
.stl_14 {
	font-size: 1.090625em;
	font-family: "NBFDRB+Montserrat-Regular";
	color: #000000;
}
.stl_15 {
	font-size: 0.80816em;
	font-family: "NBFDRB+Montserrat-Regular";
	color: #000000;
}
.stl_16 {
	font-size: 0.80816em;
	font-family: "MKJUJM+Montserrat-Bold";
	color: #000000;
}
@font-face {
	font-family:"GWILDH+BodoniFLF-Bold";
	src:url("../fonts/ea1c7101-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 2.599122em;
	font-family: "GWILDH+BodoniFLF-Bold", "Times New Roman";
	color: #000000;
}
.stl_18 {
	line-height: 1.144em;
}
@font-face {
	font-family:"MBLQUO+Montserrat-Bold";
	src:url("../fonts/7c5e15e9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 1.330494em;
	font-family: "MBLQUO+Montserrat-Bold";
	color: #000000;
}
.stl_20 {
	line-height: 1.379em;
}
.stl_21 {
	letter-spacing: 0.1605em;
}

.stl_ie .stl_21 {
	letter-spacing: 3.4168px;
}
.stl_22 {
	font-size: 2.0807em;
	font-family: "MBLQUO+Montserrat-Bold";
	color: #000000;
}
.stl_23 {
	letter-spacing: 0.1607em;
}

.stl_ie .stl_23 {
	letter-spacing: 5.3484px;
}
